<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/parts::head">
</head>
<br>
<br>
<br>
<br>

<header th:replace="fragments/parts::navbar">
</header>

<body>
<div class="container">
    <center><h2>Appointments</h2></center>
    <br>
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <tr>
            <th>Name</th>
            <th>Speciality</th>
            <th>Date</th>
            <th>Notes</th>
            <th>Email</th>
            <th sec:authorize="hasRole('ROLE_ADMIN')">Edit</th>
            <th sec:authorize="hasRole('ROLE_ADMIN')">Delete</th>
        </tr>
        <tr th:each="appointment : ${appointments}">
            <td th:text="${appointment.name}">Name</td>
            <td th:text="${appointment.getSpeciality().getName()}">Speciality</td>
            <td th:text="${appointment.dateToString()}">Date</td>
            <td th:text="${appointment.notes}">Notes</td>
            <td th:text="${appointment.email}">Email</td>
            <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="${'/appointment' + appointment.id}"><h6>Edit</h6></a></td>
            <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="${'/appointment/delete/' + appointment.id}"><h6>Delete</h6></a></td>
        </tr>
    </table>
</div>
</body>
</html>

