<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:replace="fragments/parts::head">
</head>

<body>

<nav th:replace="fragments/parts::navbar">
</nav>

<!-- header  -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-7 my-auto">
                <div class="header-content mx-auto">
                    <h2 class="mb-5"> Contact Us</h2>
                    <h3>Email: <b>doctorme@mail.com</b></h3>  <br>
                    <h3>Telephone: <b>234 555 444</b></h3><br>
                    <h4>Or come meet us at our Office</h4>
                </div>
            </div>
            <div class="col-lg-5 my-auto">
                <div class="device-container">
                    <img src="https://photos-5.dropbox.com/t/2/AACiNOppwHkS2iodUEEyda3kj6TzhPsNJQmWX6vl8FBoTQ/12/34975320/png/32x32/1/_/1/2/doctor.png/EIecxxoYhiogAigC/OzAwAediJ3c-ucwHoxJcdKf0buRbA1iOP58uR1twGx0?preserve_transparency=1&size=2048x1536&size_mode=3" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</header>
<!-- end header  -->



</body>
</html>