<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:replace="fragments/parts::head">
</head>

<body>

<nav th:replace="fragments/parts::navbar">
</nav>

<!-- header  -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-7 my-auto">
                <div class="header-content mx-auto">
                    <h1 class="mb-5"> Welcome to Our Online Clinic </h1>
                </div>
            </div>
            <div class="col-lg-5 my-auto">
                <div class="device-container">
                    <img src="../static/img/doctor.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</header>
<!-- end header  -->



</body>
</html>