<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">

    <head th:replace="fragments/parts::head">
    </head>
    <br>
    <br>
    <br>
    <br>

<body>

<nav th:replace="fragments/parts::navbar">
</nav>


<div class="container">
    <center><h1>Register a Speciality</h1>
        <br>
        <div th:if="${errorMessage != null}"
             th:utext="${errorMessage}" class="error">...</div>
        <form th:action="@{/registerspeciality}" th:object="${speciality}" method="POST">
            <input type="hidden" th:field="*{id}"/>
            <div class="form-group col-5">
                <label for="name"><h5>Name</h5></label>
                <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="ex: Dermatology" required>
                <div class="invalid-feedback">
                    Please provide a valid name.
                </div>
            </div>

            <div class="form-group col-5">
                <label for="description"><h5>Description</h5></label>
                <input type="text" th:field="*{description}" class="form-control" id="description" placeholder="ex: Skin and its appendages (hair, nails, sweat glands etc.)." required>
                <div class="invalid-feedback">
                    Please provide a valid description.
                </div>
            </div>
            <br>
            <td>&nbsp;</td>
            <td>
                <button type="submit" class="btn btn-success mb-2">Register Speciality</button>
            </td>
            <td>&nbsp;</td>

        </form>
    </center>
</div>


´


</body>
</html>
